/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:16px 'Open Sans', sans-serif; background: url("../images/bg.jpg") #fff; color:#212121; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0; color: #fff }
select, input, textarea,button { font:16px 'Open Sans', sans-serif; vertical-align:middle; color: #fff }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:16px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;

    font-family: 'Russo One', sans-serif;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    z-index: 10;
	width: 1154px;
	margin: 0 auto;
	border: 8px solid #575757;
    background: #fff;
}
h1 {
    display: inline-block;
    margin-bottom: 35px;
    font: italic 20px 'Russo One', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #e30613;
    line-height: 1;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    border-bottom: 8px solid #575757;
}
.header {
    overflow: hidden;
    height: 145px;
    background: url("../images/header/bg_header.jpg") no-repeat;
}
    .logo {
        float: left;
        margin: 22px 0 0 25px;
    }
    .header .right-box {
        float: right;
        margin: 30px 35px 0 0;
        text-align: right;
    }
    .right-box form {
        overflow: hidden;
    }
        .wrap-select {
            position: relative;
            float: left;
            border: 3px solid #474747;
            background: #575757;
        }
            .wrap-select:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 31px;
                background: url("../images/header/triagle_bottom.png") no-repeat center #e30613;
                pointer-events: none;
            }
            .wrap-select select {
                display: block;
                height: 31px;
                border: none;
                font-size: 17px;
                background: #575757;
            }
        .wrap-search-box {
            overflow: hidden;
            float: left;
            border: 3px solid #474747;
            border-left: none;
            background: #fff;
        }
            .wrap-search-box .text,
            .wrap-search-box .sbt {
                float: left;
                height: 31px;
                padding: 0 5px 0 15px;
                border: none;
            }
            .wrap-search-box .text {
                width: 125px;
                color: #575757;
            }
            .wrap-search-box .text::-webkit-input-placeholder        {color: #575757;}
            .wrap-search-box .text::-moz-placeholder                 {color: #575757;}
            .wrap-search-box .text:-moz-placeholder                  {color: #575757;}
            .wrap-search-box .text:-ms-input-placeholder             {color: #575757;}
            .wrap-search-box .sbt {
                width: 47px;
                background: url("../images/header/search_icon.png") no-repeat center #e30613;
                text-indent: -9999px;
            }
        .header a.tell {
            display: inline-block;
            margin: 10px 5px 0 0;
            font: 35px 'Russo One', sans-serif;
            color: #e30613;
            text-decoration: none;
        }
            .header .tell span {
                font-size: 27px;
                color: #fff;
            }
.main-nav {
    overflow: hidden;
}
    .main-nav ul {
        display: table;
        overflow: hidden;
        width: 100%;
        background: #212121;
    }
        .main-nav li {
            display: table-cell;
        }
            .main-nav a {
                display: block;
                padding: 14px 40px;
                transition: .3s;
                font: italic 22px 'Russo One', sans-serif;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
            }
            .main-nav a:hover {
                background: #e30613;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
    .menu {
        position: relative;
        z-index: 10;
        display: table-cell;
        width: 305px;
        padding-top: 25px;
        background: #212121;
        vertical-align: top;
    }
        .menu li {
            position: relative;
            border-top: 1px solid #3b3b3b;
        }
        .menu li:first-child {
            border-top: none;
        }
            .menu a {
                display: block;
                padding: 14px 5px 14px 25px;
                font: italic 20px 'Russo One', sans-serif;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                transition: .3s;
            }
            .menu a:hover {
                background: #3b3b3b;
            }
            .sub-menu {
                position: absolute;
                top: 0;
                right: -285px;
                display: none;
                width: 285px;
                background: #3b3b3b;
            }
            .menu li:hover .sub-menu {
                display: block;
            }
                .sub-menu li {
                    border-top-color: #555;
                }
                .sub-menu li:first-child {
                    border-top-color: transparent;
                }
                    .sub-menu a {
                        font-size: 17px;
                    }
                    .sub-menu a:hover {
                        background: #333;
                    }
    .content {
        display: table-cell;
        overflow: hidden;
        padding: 45px 45px 55px;
        background: #fff;
        vertical-align: top;
    }
        .list-item-menu {
            overflow: hidden;
        }
        .page-item .list-item-menu {
            margin-bottom: 30px;
        }
            .list-item-menu li {
                overflow: hidden;
                position: relative;
                float: left;
                width: 225px;
                height: 170px;
                margin: 40px 0 0 40px;
            }
            .list-item-menu li:nth-child(1),
            .list-item-menu li:nth-child(2),
            .list-item-menu li:nth-child(3) {
                margin-top: 0;
            }
            .list-item-menu li:nth-child(3n + 1) {
                margin-left: 0;
            }
                .list-item-menu .foto {
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                }
                .list-item-menu li:hover .foto {
                    width: 120%;
                    height: 120%;
                    margin: -10% 0 0 -10%;
                }
                .list-item-menu .desc {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    height: 41px;
                    padding: 8px 5px 8px 10px;
                    background: rgba(0, 0, 0, .6);
                    font: italic 17px 'Russo One', sans-serif;
                    color: #fff;
                    text-transform: uppercase;
                    transition: .3s;
                }
                .list-item-menu li:hover .desc {
                    background: rgba(0, 0, 0, .8);
                }
        .list-crab {
            overflow: hidden;
            margin-bottom: 30px;
        }
            .list-crab li {
                float: left;
                margin-right: 7px;
            }
                .list-crab li:before {
                    content: '/';
                    margin-right: 5px;
                    color: #979797;
                }
                .list-crab li:first-child:before {
                    display: none;
                }
                .list-crab a,
                .list-crab span {
                    color: #979797;
                    font-size: 14px;
                    font-style: italic;
                }
        .container p {
            margin-bottom: 25px;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    overflow: hidden;
    width: 1154px;
    margin: 0 auto 120px;
    border: 8px solid #575757;
    border-top: none;
    background: #474747;
    color: #f5f5f5;
}
    .footer .top {
        overflow: hidden;
        padding: 45px 60px 60px;
        font-family: 'Russo One', sans-serif;
    }
    .footer .top a {
        color: #f5f5f5;
        text-decoration: none;
        font-family: 'Russo One', sans-serif;
    }
        .footer .left {
            float: left;
        }
            .footer-logo {
                display: block;
                margin-bottom: 25px;
            }
            .footer .left .wrap {
                overflow: hidden;
                margin-bottom: 20px;
            }
                .footer .left .wrap > li {
                    overflow: hidden;
                    margin-bottom: 15px;
                }
                    .footer .left .wrap > li:before,
                    .wrap-tell:before,
                    .wrap-mail:before {
                        content: '';
                        float: left;
                        height: 100%;
                        width: 70px;
                        margin-right: 10px;
                        vertical-align: middle;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .location:before {
                        min-height: 45px;
                        background-image: url("../images/footer/icon_location.png");
                    }
                    .schedule:before {
                        min-height: 45px;
                        background-image: url("../images/footer/schedule_icon.png");
                    }
                    .wrap-tell:before {
                        min-height: 15px;
                        background-image: url("../images/footer/tell_icon.png");
                    }
                    .wrap-mail:before {
                        min-height: 15px;
                        background-image: url("../images/footer/mail_icon.png");
                    }
                    .footer .left .wrap > li > span,
                    .location > span,
                    .schedule > span,
                    .wrap-tell .tell,
                    .wrap-mail .mail {
                        overflow: hidden;
                    }
                        .time {
                            display: inline-block;
                            font-size: 15px;
                            vertical-align: middle;
                        }
                            .time .sup {
                                vertical-align: top;
                                font-size: 8px;
                            }
                        .close {
                            display: inline-block;
                            height: 14px;
                            width: 12px;
                            margin-left: 9px;
                            background: url("../images/footer/close_icon.png") no-repeat;
                            vertical-align: middle;
                            text-indent: -9999px;
                        }
                        .day-week {
                            overflow: hidden;
                            margin-top: 7px;
                        }
                            .day-week li {
                                float: left;
                                width: 11px;
                                height: 17px;
                                margin-left: 3px;
                                background: #fff;

                                -webkit-border-radius: 2px;
                                -moz-border-radius: 2px;
                                border-radius: 2px;
                            }
                            .day-week .inactive {
                                background: #f00;
                            }
                            .day-week li:first-child {
                                margin-left: 0;
                            }
            .soc-link {
                overflow: hidden;
                text-align: center;
            }
                .soc-link li {
                    display: inline-block;
                    margin: 0 15px;
                    vertical-align: middle;
                    background: no-repeat center;
                }
                    .soc-link .fb a {
                        display: block;
                        height: 28px;
                        width: 13px;
                        background-image: url("../images/footer/fb.png");
                        text-indent: -9999px;
                    }
                    .soc-link .yt a {
                        display: block;
                        height: 28px;
                        width: 28px;
                        background-image: url("../images/footer/yt.png");
                        text-indent: -9999px;
                        transition: .3s;
                    }
                    .soc-link a:hover {
                        opacity: .7;
                    }
        .footer .right {
            float: right;
        }
            .site-map {
                float: left;
                margin-right: 135px;
            }
            .catalog-goods {
                float: left;
            }
                .site-map a,
                .catalog-goods a {
                    font-size: 13px;
                    font-style: italic;
                    transition: .3s;
                    text-transform: uppercase;
                }
                .site-map a:hover,
                .catalog-goods a:hover {
                    color: #666;
                }
                .site-map .text,
                .catalog-goods .text {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 14px;
                    color: #b7b7b7;
                    text-transform: uppercase;
                }
                    .catalog-goods .footer-nav {
                        width: 185px;
                    }
                        .footer-nav li {
                            margin-top: 10px;
                        }
                        .footer-nav li:first-child {
                            margin-top: 0;
                        }
    .footer .bottom {
        overflow: hidden;
        padding: 23px 0 15px;
        background: #575757;
        color: #979797;
        font-size: 10px;
        text-transform: uppercase;
    }
        .copyright {
            float: left;
            margin-left: 20px;
        }
        .author {
            float: right;
            margin-right: 20px;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SLIDER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#slider1_container,
.slider {
    position: relative;
    top: 0;
    left: 0;
    width: 1154px;
    height: 345px;
    overflow: hidden;
}
.jssorb05 {
    position: absolute;
    bottom: 16px;
    right: 6px;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/content/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url(../images/content/a12.png) no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }

.slider > div {
    position: relative;
}
.slider .big-text {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50px;
    font: italic 80px 'Russo One', sans-serif;;
    color: #fea201;
    text-transform: uppercase;
    line-height: 1;
}
.slider .big-text span {
    display: block;
    color: #fff;
}
.slider .text {
    position: absolute;
    z-index: 10;
    bottom: 35px;
    left: 50px;
    font: italic 16px 'Russo One', sans-serif;;
    color: #fff;
    text-transform: uppercase;
}